html, body, #wrap {
	height: 100%;
}
body {
	overflow: hidden;
	margin: 0;
	padding: 0;
	background: #999;
}

.page {
	display: table;
	width: 100%;
}
.page > div {
	position: absolute;
	top: 60px;
	right: 0;
	bottom: 0;
	left: 0;
}
.page > .navigation {
	top: 0;
	bottom: inherit;
	height: 60px;
	overflow-y: hidden;
}

.page > .navigation .menu > .group {
	display: inline-block;
	margin: 4px;
}
.navigation .menu .right.group { float: right; }

.page > .navigation .menu .item { padding: 2em 1em .3em 1em; }
.page > .navigation .menu .active.item { margin-top: -3px; box-sizing: border-box; }

.page > .sidebar {
	right: inherit;
	width: 24%;
}
.page > .editor { left: 24%; }

.page.noside > .sidebar { display: none; }
.page.noside > .editor { left: 0; }

.page > .sidebar > .ui.large.vertical.menu { width: 100%; }

.page > .editor > .container {
	position: absolute;
	top: 1em;
	right: .5em;
	bottom: .5em;
	left: 1em;
}
.page > .editor > .container > * {
	width: 100%;
	height: 100%;
	position: absolute;
}

#preview { overflow: hidden; }
#preview > iframe { width: 100%; }

#layover { display: none; }

#modal .container { width: 80%; margin: 0 auto; }
#modal .actions { margin-bottom: 1em; }